* {
  box-sizing: border-box;  
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.nav {
    background-color: rgb(117, 36, 36);
    color: rgb(253, 249, 238);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 3rem;
    padding: 0 1rem;
    font-size: 2rem;
}

.site-title {
    font-size: 3rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.nav li.active {
    background-color: rgb(117, 36, 36);
}

.nav li:hover {
    background-color: rgb(117, 36, 36);
}

form {
    border: 80px solid rgb(117, 36, 36);
    background-color: rgb(117, 36, 36);
    border-radius: 10px;
    display: table;
    margin: auto;

  }
  
label {
    cursor: default;
  }


  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    border: 10px solid #ccc;
    
  }

  p {
    color: antiquewhite;
    text-align: center;
    font-size: 150%;
    font-style: italic;
  }

  button {
    background-color: antiquewhite;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-style: italic;
    font-size: 150%;
    border-radius: 10px;
  }
